a{
text-decoration:none;
}

textarea{
resize:none;
border:none;
background: rgba(255,255,255,0.001);
margin-left:40px;
font-family:Century Gothic;
font-size:10px;
}
.heading{
	margin-left:40px;
	font-family:Century Gothic;
	font-weight:bold;
	font-size:14px;
}

.headingR{
	font-family:Century Gothic;
	font-weight:bold;
	font-size:14px;
}

::placeholder {
  color:#778899;
  opacity: 1; /* Firefox */
}

.new{
page-break-before:auto;
}

.new .show-on-hover {
  display: none;
  margin: 5px;
}

.new:hover .show-on-hover {
  display: inline;
}

.paper{
	width:794;
	position:relative;
	top:50;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	height:auto;
}

.trans{
	position:absolute;
	width:794;
	top:10px;
}
.name{
	background: rgba(255,255,255,0.001);
  font-family:Calibri;
  font-size:50px;
  height:56px;
  border-style:none;
}
.personalinfo{
	background: rgba(255,255,255,0.001);
	font-family:Century Gothic;
	font-size:10px;
	height:20px;
	padding:2px;
	border-style:none;
}

.p_info{
background: rgba(255,255,255,0.001); 
border:none; 
margin-left:40px; 
font-family:Century Gothic; 
font-size:10px;
padding:2px;
height:20px;
}

.addnew{
margin-left:0px;
background-color:#c0c0c0;
border:none;
padding: 10px 22px;
text-align:center;
width:100%;
border:1px solid black;
}

.printb{
margin-left:0px;
background-color:black; 
color:white;
border:none;
padding: 10px 22px;
text-align:center;
width:100%;
border:1px solid #c0c0c0;
}

.printb:hover{
background-color:white;
color:black;
}

.addnew:hover{
background-color:white;
}
.base{
	position:fixed;
	margin:auto;
	width:100%;
	height:100%;
	overflow: hidden;
	background-image: url('hero.jpg');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	z-index:-2;
}
.topnav {
background: rgba(255,255,255,0.001); 
  overflow: hidden;
  position:fixed;
  top:80;
display:block;
}


.menuicon{
position:fixed;
display:none;
z-index:2;
}

@media print{
.base{display:none;}
.topnav{display:none;}
.remove_field{display:none;}
  ::-webkit-input-placeholder { /* WebKit browsers */
      color: transparent;
  }
  :-moz-placeholder { /* Mozilla Firefox 4 to 18 */
      color: transparent;
  }
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
      color: transparent;
  }
  :-ms-input-placeholder { /* Internet Explorer 10+ */
      color: transparent;
  }

}

@media only screen and (max-width: 1120px){

.topnav {
	position:fixed;
	top:50px;
display:none;
z-index:2;
}
.base {
display:none;
}
.menuicon{
display:block;
}
}

@page {
    margin-top: 1cm;
    margin-bottom: 2cm;
    margin-left: 1cm;
    margin-right: 1cm;
}
